.personal {
  display: flex;
  flex-direction: column;
}

.image-container {
  text-align: center;
  height: 100vh;
}

.image-container__image {
  width: 60%;
  max-width: 800px;
  height: auto;
}

.personal-info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  align-items: center;

  @media (min-width: 40rem) {
    flex-direction: row;
  }
}

.personal-summary-text {
  width: 100%;

  @media (min-width: 60rem) {
    width: 45%;
  }
}

.personal-summary__image {
  width: 100%;
  min-width: 300px;
  height: auto;

  @media (min-width: 60rem) {
    width: 45%;
  }
}
