.technology-list-container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.technology-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  @media (max-width: 40rem) {
    flex-direction: column;
  }
}
