.professional-container {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  min-height: 100vh;
  text-align: center;
  align-items: self-start;
}

.project-title-list {
  text-align: left;
  margin: 20%;
  position: sticky;
  top: 40%;
}
